# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
dist/
deb_dist/
build/
libv8/
*.egg-info/
v8-*.tar.gz

# Unit test / coverage reports
htmlcov/
.coverage

# Sphinx documentation
docs/_build/

# PyCharm
.idea/
